



table  {
         border: 3px solid black;
       }
th, td {
         border: 3px solid black;
       }


.note {
        width: 1181px; height: 100px;
      }

.note1 {
        width: 390px; height: 50px;
       }

.note2 {
        width: 1181px; height: 549px;
       }

.note3 {
        width: 1181px; height: 61px;
       }

.background1 {
               background-image: url(image/header.png);
             }

.background2 {
              background-image: url(image/menu.png);
             }

.background3 {
              background-image: url(image/center.png);
             }

.background4 {
              background-image: url(image/footer.png);
             }

.center_table {
                margin: auto;
              }

.body_color {
            background-color: #68d444;
            }

.page_size {
             width: 1200px; height: 800px;
           }

.background_table {
                    background-color: #d11fdb; 
                  }

.font {
        font-family: Verdana;
        font-style: italic;
      }                
.font_color {
              color: #eff70a;
            }   

.font_color1 {
              color: #d11fdb;
             }

.font_center {
              text-align: center;
             }

.font-size1 {
             font-size: 36px;
            }
            
.font-size2 {
             font-size: 24px;
            }










































